<% include partials/header %>


<div class="container searchmargin">
    <div class="row">
        <h1 style="text-align: center">Search for a StarWars Ship?</h1>
    <div style="width: 30%; margin: 25px auto;">
       <form class="form-group" action="/results" method="GET">
    <div class="form-group">
   <input id="textbox" class="form-control" type="text" name="search" placeholder="eg. 'Death Star' or 'fighter'" required>
 <button class="btn btn-lg btn-primary btn-block">Submit!</button>
   </div>
</form>
    </div>
    </div>
     
</div>

<!--<div id="searchmargin" class="container-fluid">-->
<!--   <div class="row">-->
<!--<h1>Search For a Star Wars Ship?</h1>-->
<!--    <div style="width: 30%; margin: 25px auto;">-->
<!--<form action="/results" method="GET">-->
<!--    <div class="form-group">-->
<!--   <input class="form-control half" type="text" name="search" placeholder="eg. Death Star" required>-->
<!--   <input class="form-control half" type="submit">-->
<!--   </div>-->
<!--</form>-->
<!--   </div>-->
<!--</div>-->



<% include partials/footer %>