<% include partials/header %>

<div class="container">
<h1>Search For a Star Wars Ship?</h1>

<form action="/results" method="GET">
    
   <input type="text" name="search" placeholder="eg. Death Star" required>
   <input type="submit">
   
</form>


<% include partials/footer %>